TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
# Aliases also supported for existing local env files:
# TELEGRAM_TOKEN=
# TELEGRAM_CHAT_ID=
MAX_RESULTS_PER_RUN=3
MIN_SCORE=70
SKILL_FILTERS=python,security,api
BLOCKED_KEYWORDS=casino,adult,spam
DATABASE_PATH=bounty_radar.db
GITHUB_TOKEN=
GITHUB_QUERIES=is:open is:issue bounty in:title,body||is:open is:issue reward in:title,body||is:open is:issue "paid issue" in:title,body||is:open is:issue "bug bounty" in:title,body
RSS_SOURCES=
MANUAL_JSON_SOURCES=
ALGORA_SOURCES=https://algora.io
IMMUNEFI_SOURCE=https://immunefi.com/bug-bounty/
HACKERONE_SOURCE=https://www.hackerone.com/bug-bounty-programs
BUGCROWD_SOURCE=https://www.bugcrowd.com/bug-bounty-list/
YESWEHACK_SOURCE=https://yeswehack.com/programs
REQUEST_TIMEOUT_SECONDS=20
